# Node modules
node_modules/

# Build output
dist/
types/

# Turbo
.turbo/

# AI
.aider*

# TS
!antfly.ts
!antfly-api.d.ts

# OS
.DS_Store

# Storybook
storybook-static/

# Lock files (use root only)
packages/*/package-lock.json
